jinja2==3.1.6
mkl-service==2.4.0
pip-chill==1.0.3
./PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
pycaw
pyinstaller==5.13.2
pyopengl==3.1.10
pyqt5
pyqtgraph
pywin32
scipy
six==1.16.0
sounddevice==0.5.2
win-precise-time==1.4.2

numpy
pyaudio