jinja2==3.1.6
mkl-service==2.4.0
pip-chill==1.0.3
./PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
pycaw==20240210
pyinstaller==5.13.2
pyopengl==3.1.10
pyqt5==5.15.10
pyqtgraph==0.12.4
pywin32==308
scipy==1.7.3
six==1.16.0
sounddevice==0.5.2
win-precise-time==1.4.2
