altgraph==0.17.5
colorama==0.4.6
comtypes==1.4.16
mouse==0.7.1
numpy==2.5.0
packaging==26.2
pefile==2024.8.26
psutil==7.2.2
PyAudioWPatch==0.2.12.8
pycaw==20251023
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pynput==1.8.2
PyOpenGL==3.1.10
pyqtgraph==0.14.0
pywin32
pywin32-ctypes==0.2.3
scipy==1.18.0
setuptools==82.0.1
shiboken6==6.11.1
six==1.17.0
win-precise-time==1.4.2
xiaoe-keyboard==6.0.1
./xiaoe_ui-1.0.9-py3-none-any.whl
